@font-face {
   font-family: 'Paytone One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/Iman/Desktop/V14%20FR/fonts/Paytone One/regular.ttf') format('truetype');
}
